# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#using-environment-variables

# Prisma supports the native connection string format for PostgreSQL, MySQL and SQLite.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

PORT=
DATABASE_URL=""
SENDGRID_API_KEY=""
SENDGRID_SENDER=""
API_ROUTE=""
EMAIL_VERIFICATION_ROUTE=""
BCRYPT_SALT_ROUNDS=
VERIFICATION_TOKEN_SECRET=""
ACCESS_TOKEN_SECRET=""
REFRESH_TOKEN_SECRET=""
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""